.Toolbar {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #686de0;
  color: white;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;

  .Nav {
    display: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

@media (min-width: 767px) {
  .Icon {
    display: none;
  }
  .Nav {
    display: block !important;
  }
}
