.footer {
  width: 100%;
  color: white;

  .topinfo {
    width: 100%;
    display: block;
    background-color: #686de0;
    text-align: left;
    padding: 1rem 2rem;
    p {
      margin-bottom: 2rem;
    }

    i {
      margin-right: 0.5rem;
      font-size: 2rem;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    .topinfo {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 2rem 0;
    }
  }
}
